.Country {
  width: 60%;
  margin: 10px 20% 0;
}
.Country > .top {
  display: flex;
  justify-content: space-between;
}
.Country .left {
  display: flex;
  justify-content: space-between;
}
.left > .initial {
  background: orangered;
  font-weight: 700;
  margin: 10px;
  text-align: center;
  color: white;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  font: 32px Arial, sans-serif;
}
.left > .name {
  margin: 0 20px;
  padding: 0;
}
.name > .p1 {
  font-size: larger;
  margin-bottom: 10px;
}
.name > .p2 {
  font-weight: 500;
  font-size: small;
  margin-top: 0;
  padding-top: 0;
}
.Country .right {
  transform: rotate(270deg);
  font-weight: bolder;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.Country > img {
  margin-left: 10%;
  margin-top: 0;
  padding: 0;
}
p > .blue {
  color: blue;
}
.Country p {
  text-align: justify;
  margin: 10px 15px;
}
